
@font-face {
  font-family: 'BrownSugar';
  src: url('./assets/fonts/BrownSugar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ABeeZee';
  src: url('./assets/fonts/ABeeZee.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

